@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: rgba(0, 0, 0, 0.600);
    --main-color: #d6780cd2;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

/**************************************************************************************************/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 5% 1.5rem;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
    color: var(--text-color);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#lien{
    text-decoration: none;
}
.menu_image{
    width: 6%;
    margin-left: 5%;
}
span{
    color: var(--main-color);
}
/***********************************************************************************************************************/

.section1{
    margin-top: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 8% 0.5rem;
    height: 100vh;
}
.section2, .section3, .section4{
    height: 100vh;
    margin: 1%;
}
.moi{
    width: 30%;
    height: 50%;
    border-radius: 50%;
}

/**************************************************************************************/
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 50s infinite;
}
.text-animation span::after{
    content: "";
    background-color: white;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 50s steps(24) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Stagiaire développeur";
    }
    21%,
    40%{
        content: "Stagiaire développeur";
    }
    41%,
    60%{
        content: "Stagiaire développeur";
    }
    61%,
    80%{
        content: "Stagiaire développeur";
    }
    81%,
    100%{
        content: "Js developper";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.title{
    font-size: 34px;
    font-weight: 600;
}




img{
    width: 400px;
}

.bloc_projet{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
}